@import url(https://fonts.googleapis.com/css?family=Roboto:300);

div#root {
  display: flex;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 930px;
}

body {
  background-image: linear-gradient(205deg, rgb(169, 201, 255) 0%, rgb(255, 187, 236) 100%);
}
body *{
  font-family:'Roboto', sans-serif;
}

img {
  margin: auto;
}
img.flagGridItem {
  cursor: pointer;
}

li {
  display: block;
}
ul {
  padding: 0;
}

#spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
div#spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

button.clearButton, select#regionSearch {
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
select#regionSearch:focus-visible {
  outline: none;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

div#FlagGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin: 2em;
}
@media screen and (max-width: 400px) {
  div#FlagGrid {
    grid-template-columns: auto;
  }
}

/*  https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
